<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>45962405840-l5fdrhgnm36iagp4fjn61rvu8fj5ets1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45962405840-l5fdrhgnm36iagp4fjn61rvu8fj5ets1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmiNUdD5zZEM_ZYdwVF8Du_O4YPIZHhPI</string>
	<key>GCM_SENDER_ID</key>
	<string>45962405840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.OTW</string>
	<key>PROJECT_ID</key>
	<string>on-the-way-38e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>on-the-way-38e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45962405840:ios:a325ba032669a602</string>
	<key>DATABASE_URL</key>
	<string>https://on-the-way-38e3c.firebaseio.com</string>
</dict>
</plist>